
<section class="los-vedix-approach container">
    <div>
        {% if section.settings.main_heading != blank %}
            <h2>{{ section.settings.main_heading }}</h2>
        {% endif %}
        {% if section.settings.sub_heading != blank  %}
            <p class="sub-heading">{{ section.settings.sub_heading }}</p>
        {% endif %}
    </div>

    <div class="los-vedix-approach-grid">
        {% for block in section.blocks %}  
       <div class="los-vedix-grid--col">
        
        {% if forloop.index == 1 %}
          <div class="highlight-badge cutoff">
            <h3>How it works</h3>
          </div>  
        {% endif %}
        
         <div>
            {{
                block.settings.main_image
                | image_url: width: 600
                | image_tag:
                widths: '300, 600',
                sizes: 'auto',
                fetchpriority: fetch_priority,
                loading: loading,
                class: 'img-fluid main_image'
            }}
         </div>
         <div class="los-approach-content">
            <div class="counter-heading"> 
              <span class="counter">{{ forloop.index }}</span><h4>{{ block.settings.heading }}</h4>
            </div>
            <p>{{ block.settings.text }}</p>
         </div>
       </div>
       {% endfor %}
    </div>
</section>


{% schema %}
{
  "name": "LOS Approach",
  "tag": "section",
  "class": "los-approach section-spacing-lg",
  "max_blocks": 3,
  "settings": [
        {
          "type": "text",
          "label": "enter the main text",
          "id": "main_heading",
          "default": "Vedix tackles the hair fall issue from the root! "
        },
        {
          "type": "text",
          "label": "enter the sub text",
          "id": "sub_heading",
          "default": "This is also one of the reasons why Ayurveda chooses one of the most easily understandable methods to measure the magnitude of the hair issue, the root cause, and the solution, with just a simple assessment. At Vedix, we call this method as the “Dosha Assessment”"
        }
    ],
  "blocks": [
    {
      "type": "approach",
      "name": "approach",
      "settings": [
        {
          "type": "image_picker",
          "label": "Select the primary image",
          "id": "main_image"
        },
        {
          "type": "text",
          "label": "Enter the name",
          "id": "heading",
          "default": "Examining Doshas"
        },
        {
          "type": "text",
          "label": "Enter the name",
          "id": "text",
          "default": "Answer simple questions about your hair, skin and wellness to help us assess your Unique Dosha Profile"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LOS Approach"
    }
  ]
}
{% endschema %}


{% stylesheet %}
    
.los-vedix-approach-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    text-align: center;
    padding-top: 7rem;
}

.secondary_image{
    width: 12rem;
}

.counter {
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin: 0 10px;
}

.counter-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.los-vedix-approach-grid .los-vedix-grid--col {
  position: relative;
  border: 1px solid var(--black);
}

.los-approach-content p{
  padding: 20px 40px;
}



.los-vedix-approach sub-heading{
  max-width: 660px;
}

.highlight-badge {
  border: 1px solid var(--black);
  width: 22rem;
  position: absolute;
  top: -26px;
  left: 0;
  background-color: var(--white);
}

{% endstylesheet %}