
<section class="los-vedix-blogs container">
    <div>
        {% if section.settings.main_heading != blank %}
            <h2>{{ section.settings.main_heading }}</h2>
        {% endif %}
        {% if section.settings.sub_heading != blank  %}
            <p>{{ section.settings.sub_heading }}</p>
        {% endif %}
    </div>

    <div class="los-vedix-grid">
        {% for block in section.blocks %}  
       <div class="los-vedix-grid--col cutoff">
         <div>
            {{
                block.settings.main_image
                | image_url: width: 600
                | image_tag:
                widths: '300, 600',
                sizes: 'auto',
                fetchpriority: fetch_priority,
                loading: loading,
                class: 'img-fluid main_image'
            }}
         </div>
         <div class="los-vedix-grid--col-content">
            <span> Hair </span>
            <h4 class="py-20">{{ block.settings.heading }}</h4>
            <p>{{ block.settings.text }}</p>
            <a href="{{ block.settings.url }}" class="py-20">{{ block.settings.url_text }}</a>
         </div>
       </div>
       {% endfor %}
    </div>
</section>


{% schema %}
{
  "name": "LOS Blogs",
  "tag": "section",
  "class": "los-blogs section-spacing-lg",
  "max_blocks": 3,
  "settings": [
        {
          "type": "text",
          "label": "enter the main text",
          "id": "main_heading",
          "default": "Vedix tackles the hair fall issue from the root! "
        },
        {
          "type": "text",
          "label": "enter the sub text",
          "id": "sub_heading",
          "default": "This is also one of the reasons why Ayurveda chooses one of the most easily understandable methods to measure the magnitude of the hair issue, the root cause, and the solution, with just a simple assessment. At Vedix, we call this method as the “Dosha Assessment”"
        }
    ],
  "blocks": [
    {
      "type": "approach",
      "name": "approach",
      "settings": [
        {
          "type": "image_picker",
          "label": "Select the primary image",
          "id": "main_image"
        },
        {
          "type": "text",
          "label": "Enter the heading",
          "id": "heading",
          "default": "Lorem Ipsum, Chai paani kam"
        },
        {
          "type": "text",
          "label": "Enter the text",
          "id": "text",
          "default": "Answer simple questions about your hair, skin and wellness to help us assess your Unique Dosha Profile"
        },
        {   
          "type": "url",
          "id": "url",
          "label": "Add a Link"
        },
        {   
          "type": "text",
          "id": "url_text",
          "label": "Button text",
          "default": "Begin Quiz"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LOS Blogs"
    }
  ]
}
{% endschema %}


{% stylesheet %}

.los-vedix-celebrities{
    max-width: 1200px;
    margin: 0 auto;
}
    
.los-vedix-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
    text-align: center;
}

.secondary_image{
    width: 12rem;
}

.los-vedix-grid--col {
  border: 1px solid var(--black);
  position: relative;
  padding: 0 !important; 
}

.los-vedix-grid--col-content {
  padding: 2.5rem 2.5rem 0 2.5rem;
  text-align: left;
}

.los-vedix-grid--col-content span {
  color: #8573C6;
  background-color: #E7E3F4;
  padding: 3px 20px 0px 20px;
  display: block;
  max-width: fit-content;
}

.los-vedix-grid--col-content p {
  font-size: 14px;
}

.los-vedix-grid--col-content a{
  font-size: 14px;
  color: #F26955;
}
.counter {
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.xcv {
    display: flex;
    align-items: center;
    justify-content: center;
}
{% endstylesheet %}